.CalendarMonthHeader
{
  width:100%;
  margin:auto;
  display: inline-flex;

}
.CalendarCol
{
  text-align: center;

}

.CalendarCell
{
  width:auto;
  text-align: center;


}
.brah
{
  width:33%;
  margin: auto;
  text-align: center;
}

.disabled
{
  background-color: black;
}
